body{
	background-color: Purple;
}

h1{
		font-size: 30px;
		color: DarkSalmon;

	}
	h2{

		color: Brown;
		font-size: 40px;
	}

	h2{
		color: crimson;
	}

	.big{
		font-size: 60px;
	}

	.uppercase{
		text-transform: uppercase;
	}

	.big.uppercase{
		color: orange;
	}

	h1 span{
		color: violet;
	}